.vscode-test
.DS_Store
node_modules
client/node_modules/
client/out/
server/node_modules/
server/out
integration/out
dist/
**/.idea/
**/tsconfig.tsbuildinfo
.vscode/settings.json
.vimrc
.nvimrc
syntaxes/test/*.js
syntaxes/test/*.map
