.npmrc
.vscode-test
.DS_Store
node_modules
server/node_modules/
dist/
**/.idea/
**/tsconfig.tsbuildinfo
.vscode/settings.json
.vimrc
.nvimrc
*.swo
*.swp


# Ignore files log and local only files related to ng-dev
*.log
.ng-dev.user*
.husky/_

# bazel
bazel-*
