# Disabling pnpm [hoisting](https://pnpm.io/npmrc#hoist) by setting `hoist=false` is recommended on
# projects using rules_js so that pnpm outside of Bazel lays out a node_modules tree similar to what
# rules_js lays out under Bazel (without a hidden node_modules/.pnpm/node_modules)
hoist=false

# Allow for missing peer dependencies on pnpm import.
# See https://github.com/aspect-build/rules_js/pull/445 for more context.
strict-peer-dependencies=false
